.footer {
  height: 130px;
  background-image: linear-gradient(90deg, #af2896, #509bf5);
  cursor: pointer;
}

.body {
  padding: 11px 24px 0 15px;
  display: flex;
}

.title {
  margin-left: 24px;
  color: white;
  width: 60%;
  font-weight: 500;
}

.title-header {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.title-body {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.time {
  color: white;
  text-align: center;
  padding: 20px 20px;
  width: 18%;
  align-content: center;
}

.time-title {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1rem;
  letter-spacing: 0.1em;
}

.time-body {
  display: flex;
  justify-content: center;
}

.part {
  padding: 0 15px 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 8px;
}

.number {
  font-size: 1.8rem;
  font-weight: 700;
}

.unit {
  text-transform: uppercase;
  font-size: 0.7rem;
}

.button {
  padding-top: 30px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.btn {
  font-size: 19px;
  line-height: 1.5rem;
  border-radius: 500px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 32px;
  cursor: pointer;
}

.btn-get-month {
  border: 1px solid white;
  color: black;
  background-color: white;
}

.btn:hover {
  transition: scale 0s;
  transform: scale(1.05);
}

