<div class="footer">
  <div class="body">
    <div class="title">
      <p class="title-header">{{txtTitle}}</p>
      <div class="title-body">{{txtBody}}<a>{{txtTerm}}</a></div>
    </div>
    <div class="time">
      <div class="time-title">{{txtTime}}</div>
      <div class="time-body">
        <div class="part">
          <div class="number">{{txtDay}}</div>
          <div class="unit">{{txtDayUnit}}</div>
        </div>
        <div class="part">
          <div class="number">{{txtHour}}</div>
          <div class="unit">{{txtHourUnit}}</div>
        </div>
        <div class="part">
          <div class="number">{{txtMinute}}</div>
          <div class="unit">{{txtMinuteUnit}}</div>
        </div>
      </div>
    </div>
    <div class="button">
      <a class="btn btn-get-month">{{btnGetMonth}}</a>
    </div>
  </div>
</div>
