.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.body {
  width: 100%;
  overflow: hidden;
}

.side-bar {
  float: left;
  width: 20%;
  height: 100%;
}

.main {
  overflow-y: scroll;
  background-color: rgb(18, 18, 18);
}

.footer {
  position: relative;
  background-color: rgb(40, 40, 40);
  z-index: 2;
}
