<div class="main">
  <div class="box_main">
    <div class="music">
      <div class="recently_played">
        <h2>Recently played</h2>
        <div class="music-row">
          <div class="box_music" href="#">
            <app-card></app-card>
          </div>
        </div>
      </div>
      <div class="artists">
        <h2>Artists</h2>
        <div class="music-row">

        </div>
      </div>
      <div class="daily-mix">
        <h2>Daily Mix</h2>
        <div class="music-row">

        </div>
      </div>
    </div>
  </div>
</div>
