.main {
  float: left;
  width: 100%;
  background-color: rgb(18, 18, 18);
}

.main .box_main {
  width: 100%;
  margin-top: 20px;
  margin-left: 30px;
}

.main .box_main h2 {
  margin: 10px;
  font-size: 28px;
  color: #ffffff;
}

.main .box_main .music a {
  display: inline-block;
  padding: 70px;
}

.main .box_main .music .music-row {
  display: inline-block;
}
