.header {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  right: 0;
  height: 70px;
  z-index: 1;
  background-color: rgba(11, 11, 11, 0.9);
}

.btn-go-to {
  font-size: 35px;
  color: black;
}

.btn-previous {
  position: absolute;
  padding-left: 30px;
}

.btn-next {
  position: absolute;
  padding-left: 100px;
}

a {
  text-decoration: none;
}

.btn-authen {
  padding: 8px 30px;
  font-size: 18px;
  font-weight: bolder;
}

.btn-authen:hover {
  transition: scale 0.5s;
  transform: scale(1.005);
}

.btn-signup {
  position: absolute;
  right: 160px;
  color: white;
  opacity: 0.7;
}

.btn-signup:hover {
  opacity: 1;
}

.btn-login {
  position: absolute;
  right: 30px;
  border: 1px solid #ffffff;
  border-radius: 40px;
  background-color: white;
  color: black;
}

.btn-login:hover {
  opacity: 0.7;
}


