.previous {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  right: 0;
  height: 70px;
  z-index: 1;
  background-color: rgba(11, 11, 11, 0.8);
}

.btn_previous {
  margin-right: 10px;
  padding-left: 35px;
  font-size: 35px;
  color: black;
}

.btn_next {
  font-size: 35px;
  color: black;
}

.btn_previous:hover {
  transition: scale 0.5s;
  transform: scale(1.05);
}

.container_big {
  width: 100%;
  overflow: hidden;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

