<div class="main">
  <div class="middle1">
    <div class="body-middle">
      <div class="text">
        <p class="spotify-premium">{{txtPremium}}</p>
        <h1>{{txtLine1}}</h1>
        <h2>{{txtLine2}}</h2>
        <div class="button">
          <a class="btn btn-get-month" href="#">{{btnGetMonth}}</a>
        </div>
        <div class="footer">
          <p>{{txtFooter1}}<a>{{txtFooter2}}</a>{{txtFooter3}}</p>
        </div>
      </div>
      <div class="image">
        <img [src]="image">
      </div>
    </div>
    <div class="middle2">
        <div class="body-middle">
          <div class="text">
            <h1>{{txtLine3}}</h1>
            <h2>{{txtLine4}}</h2>
            <div class="button">
              <a class="btn btn-open-web" href="#">{{btnOpenWeb}}</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
