.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  right: 0;
  height: 90px;
  z-index: 1;
  background-color: rgba(11, 11, 11, 0.9);
  position: relative;
}

.main {
  margin-left: 120px;
  width: 100%;
  margin-right: 120px;
}

.logo {
  width: 150px;
  height: 50px;
}

a {
  text-decoration: none;
  color: white;
}

.btn-header {
  padding: 0 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  position: absolute;
  margin-top: 8px;
}

.btn-header:hover {
 color: #1ed760;
}

.btn-opacity {
  opacity: 0.9;
}

.btn-premium {
  right: 560px;
}

.btn-support {
  right: 455px;
}

.btn-download {
  right: 330px;
  border-right: 1px solid white;
}

.btn-signup {
  right: 200px;
}

.btn-login {
  right: 120px;
}


